.App {
  padding: 3rem 2rem;

  max-width: 768px;

  margin: 0 auto;
}

.animLeft {
  opacity: 0;
  transform: translateX(-30px);

  animation: animLeft 0.4s forwards;
}

@keyframes animLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

.loading {
  width: 50px;
  height: 50px;

  border: 4px solid var(--gray);

  margin: 20px;

  border-radius: 4px;
  
  transform: rotate(0deg);
  animation: loading 4s infinite;
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 320px) {
  .App {
    width: 100vw;
    padding: 2rem 1rem;
  }
}